<nav class="navbar">
    <div class="brand">
        <a href="#home">☕ Coffee Shop</a>
    </div>
    <div class="container">
        <ul class="nav-list">
            <li class="nav-item"><a href="#home">Home</a></li>
            <li class="nav-item"><a href="#menu">Menu</a></li>
            <li class="nav-item"><a href="#about">About Us</a></li>
            <li class="nav-item"><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <div class="brand">
        <button class="btn">🔍</button>
    </div>
</nav>
<div class="photo-container">
    <img src="./assets/coffeeInterior.webp" alt="Coffee Shop" class="photo">
    <div class="overlay">
        <h1 class="overlay-text">Welcome to Coffee Shop</h1>
        <button class="overlay-button">Order now</button>
    </div>
</div>