.navbar {
    background-color: #6b4f4f; 
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand a {
    font-family: 'Georgia', serif; /* Defining font */
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-item a:hover {
    background-color: #8c6e6e; 
    border-radius: 10px;
}

.photo-container {
    position: relative; /* Enables positioning of overlay content */
    width: 100%;
    height: auto;
}

.photo {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #514040;
}

.overlay-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.overlay-button {
    background-color: #6b4f4f; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.overlay-button:hover {
    background-color: #8c6e6e; 
}

.coffee-list-container {
    margin-top: 20px;
    max-height: 200px; 
    overflow-y: auto; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coffee-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.coffee-item {
    font-size: 1rem;
    color: #6b4f4f;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.coffee-item:last-child {
    border-bottom: none; 
}